.register-screen {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(165deg, rgb(255, 255, 255) 0% 7%, #F0F9FA 11% 17%, #c6b5a931 31%, #F0F9FA 54%, rgba(47, 0, 255, 0.247) 90%);
}

.back-arrow-register {
    font-size: 320%;
    transition: transform 0.3s;
    margin-left: -5rem;
    color: #5C61FF;
}

.back-arrow-register:hover {
    transform: scale(1.1);
    color: #221536;
    background: radial-gradient(#96FF1F 0% 50%, #f8f9fa00 55%);

}

.register-form {
    font-family: "Rajdhani", sans-serif;
    font-optical-sizing: auto;
    padding: 2rem 2rem 4rem 7.5rem;
    border-radius: 8px;
    max-width: 550px;
    width: 100%;
    /*background: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);*/



    border: 1px solid rgba(145, 126, 126, 0.205);
    background: linear-gradient(315deg, #ffffff, #e6e6e6);
    box-shadow: -21px -21px 42px #d4d4d4,
        21px 21px 42px #ffffff94;
}

.register-form h1 {
    font-family: "Orbitron", sans-serif;
    font-optical-sizing: auto;
    text-align: center;
    margin-bottom: 1.5rem;
    font-size: 2.5rem;
    color: #5C61FF;
}

.register-form label {
    display: block;
    margin-top: 10px;
    font-weight: 500;
    font-size: 20px;
    letter-spacing: 1px;
    text-align: left;
    color: #221536;
}

.register-form input {
    width: 77%;
    padding: 10px;
    margin-top: 8px;
    margin-bottom: 12px;
    border: 1px solid #c6b5a969;
    border-radius: 4px;
    font-family: "Rajdhani", sans-serif;
    font-optical-sizing: auto;
    font-size: 20px;

    box-shadow: inset 4px 4px 10px #bcbcbc70, inset -4px -4px 10px #fffffffa;
}

.register-form input:focus,
.register-form textarea:focus {
    /*
    border: 1px solid #5C61FF;
    box-shadow: 0 0 5px rgba(92, 97, 255, 0.5);

    box-shadow: inset 2px 2px 15px rgba(92, 97, 255, 0.342), inset -2px -2px 5px #ffffff, 2px 2px 5px #bcbcbc, -2px -2px 5px #ffffff;

    */
    outline: none;
    box-shadow: rgba(92, 97, 255, 0.342) 0px 2px 18px inset, rgba(0, 0, 0, 0.116) 0px 18px 26px -18px inset;
}

.all-fields {
    margin-top: 0rem;
    font-weight: 400;
    font-size: 15px;
    color: rgb(54, 47, 47);

}

.register-error-message {
    color: red;
    font-weight: 500;
    font-size: 18px;
}

.register-form button {
    margin-top: 10px;
    padding: 10px;
    background-color: #5C61FF;
    border: 1px solid #96FF1F;
    color: white;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
    font-weight: 600;
    font-family: "Rajdhani", sans-serif;
    font-optical-sizing: auto;
    box-sizing: border-box;
    transition: background-color 0.3s, transform 0.3s;
}

.register-form button:hover {
    background-color: #F0F9FA;
    color: #5C61FF;
    letter-spacing: 1px;
    border: 2px solid #96FF1F;
}

.register-form button:active {
    background-color: #dee4e4;
    color: #5C61FF;
    box-shadow: none;
}

.register-buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 0.5rem;
}

.register-buttons button {
    width: 35%;
}

.register-buttons p {
    font-size: 18px;
    font-style: none;
}

.login-text {
    margin-right: 6.5rem;
}

.login-text a {
    color: #5C61FF;
    text-decoration: none;
    font-weight: bold;
    font-size: 22px;
}


.login-text-back {
    text-align: center;
    margin-top: 1rem;
    margin-right: 4.5rem;
}

.login-text-back a {
    text-align: center;
    margin-top: 1rem;
    color: #221536;
    text-decoration: none;
    font-weight: bold;
    font-size: 20px;
    transition: color 0.3s;
}

.login-text-back a:hover {
    transform: scale(1.2);
    background-color: rgba(0, 0, 0, 0.082);
}

.login-text-link {
    transition: color 0.3s;
}

.login-text-link:hover {
    color: #221536;
}


.view-password-button {
    width: 10% !important;
    height: 50% !important;
    margin-top: 0 !important;
    margin-bottom: .2rem !important;
    border: 1px solid rgba(109, 102, 102, 0) !important;
    background-color: #c6b5a900 !important;
}

.password-eye-container {
    display: flex;
    align-items: center !important;
}

.eye-password {
    transition: transform 0.6s ease;
    max-height: 25px !important;
    max-width: 25px !important;
}

.eye-password:hover {
    transform: scale(1.05);
    transition: all 0.3s ease;
}

.view-password-button:focus {
    outline: none;
}