.register-screen {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding-bottom: .5rem;
}

.back-arrow-register {
    font-size: 320%;
    transition: transform 0.3s;
    margin-left: -5rem;
    color: #5C61FF;
}

.back-arrow-register:hover {
    transform: scale(1.1);
    color: #221536;
    background: radial-gradient(#96FF1F 0% 50%, #f8f9fa00 55%);
}

.back-arrow-register:focus {
    outline: none;
}

.register-form {
    font-family: "Rajdhani", sans-serif;
    font-optical-sizing: auto;
    padding: 2rem 2rem 4rem 7.5rem;
    border-radius: 8px;
    max-width: 550px;
    width: 100%;
    /*background: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);*/



    border: 1px solid rgba(145, 126, 126, 0.205);
    background: linear-gradient(315deg, #ffffff, #e6e6e6);
    box-shadow: -21px -21px 42px #d4d4d4,
        21px 21px 42px #ffffff94;
}

.register-form h1 {
    width: 84%;
    font-family: "Orbitron", sans-serif;
    font-optical-sizing: auto;
    text-align: center;
    margin-bottom: 1.5rem;
    font-size: 2.5rem;
    color: #5C61FF;
}

.register-form label {
    display: block;
    margin-top: 10px;
    font-weight: 500;
    font-size: 20px;
    letter-spacing: 1px;
    text-align: left;
    color: #221536;
}

.register-form input {
    width: 77%;
    padding: 10px;
    margin-top: 8px;
    margin-bottom: 12px;
    border: 1px solid #c6b5a969;
    border-radius: 4px;
    font-family: "Rajdhani", sans-serif;
    font-optical-sizing: auto;
    font-size: 20px;

    box-shadow: inset 4px 4px 10px #bcbcbc70, inset -4px -4px 10px #fffffffa;
}

.register-form input:focus,
.register-form textarea:focus {
    /*
    border: 1px solid #5C61FF;
    box-shadow: 0 0 5px rgba(92, 97, 255, 0.5);

    box-shadow: inset 2px 2px 15px rgba(92, 97, 255, 0.342), inset -2px -2px 5px #ffffff, 2px 2px 5px #bcbcbc, -2px -2px 5px #ffffff;

    */
    outline: none;
    box-shadow: rgba(92, 97, 255, 0.342) 0px 2px 18px inset, rgba(0, 0, 0, 0.116) 0px 18px 26px -18px inset;
}

.all-fields {
    margin-top: 0rem;
    font-weight: 400;
    font-size: 15px;
    color: rgb(54, 47, 47);

}

.register-error-message {
    color: red;
    font-weight: 500;
    font-size: 18px;
}

.register-form button {
    margin-top: 10px;
    padding: 10px;

/*
    background-color: #5C61FF;

    border: 1px solid #96FF1F;
*/
    color: white;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
    font-weight: 600;
    font-family: "Rajdhani", sans-serif;
    font-optical-sizing: auto;
    box-sizing: border-box;
    transition: background-color 0.3s, transform 0.3s;
}


/*
.register-form button:hover {
    background-color: #F0F9FA;
    color: #5C61FF;
    border: 2px solid #96FF1F;
}

.register-form button:active {
    background-color: #dee4e4;
    color: #5C61FF;
    box-shadow: none;
}
*/

.register-form button:focus {
    outline: none;
}

.register-buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 0.5rem;
}

.register-buttons button {
    width: 35%;
    letter-spacing: 1px;
    border:1px solid rgba(128, 0, 128, 0.185);
    background: linear-gradient(315deg, #5357e6, #6268ff);
    box-shadow: -3px -3px 6px #4e53d9b2,
        3px 3px 6px #6a6fff9d;
    transition: all 0.3s ease-in-out;
}

.register-buttons button:hover {
    background: linear-gradient(315deg, #383ef3, #5358fc);
    box-shadow: -3px -3px 6px #4e53d977,
        3px 3px 6px #6a6fff70;
    color: #96FF1F;
}

.register-buttons button:active {
    background: linear-gradient(315deg, #5c61ff, #484eee);
    box-shadow: inset -7px -7px 14px #4347ba,
                inset 7px 7px 14px #757bff;
}

.register-buttons p {
    font-size: 18px;
    font-style: none;
}

.login-text {
    margin-right: 6.5rem;
}

.login-text a {
    color: #5C61FF;
    text-decoration: none;
    font-weight: bold;
    font-size: 22px;
}

.login-text a:focus {
    outline: none;
}


.login-text-back {
    text-align: center;
    margin-top: 1rem;
    margin-right: 4.5rem;
}

.login-text-back a {
    text-align: center;
    margin-top: 1rem;
    color: #221536;
    text-decoration: none;
    font-weight: bold;
    font-size: 20px;
    transition: color 0.3s;
}

.login-text-back a:hover {
    transform: scale(1.2);
    background-color: rgba(0, 0, 0, 0.082);
}

.login-text-link {
    transition: color 0.3s;
}

.login-text-link:hover {
    color: #221536;
}


.view-password-button {
    width: 10% !important;
    height: 50% !important;
    margin-top: 0 !important;
    margin-bottom: .2rem !important;
    border: 1px solid rgba(109, 102, 102, 0) !important;
    background-color: #c6b5a900 !important;
}

.password-eye-container {
    display: flex;
    align-items: center !important;
}

.eye-password {
    transition: transform 0.6s ease;
    max-height: 25px !important;
    max-width: 25px !important;
}

.eye-password:hover {
    transform: scale(1.05);
    transition: all 0.3s ease;
}

.view-password-button:focus {
    outline: none;
}


@media (max-width: 375px) {
    .register-screen {
        width: 100vw;
        padding:1rem 0rem;
        background: linear-gradient(165deg, rgb(255, 255, 255) 0% 7%, #F0F9FA 11% 17%, #c6b5a931 31%, #F0F9FA 54%, rgba(47, 0, 255, 0.247) 90%);
    }

    .register-form {
        padding: 1rem 2rem 1rem 2rem;
        margin: 0 .8rem 0 .8rem;
        width: 100%;
        height: auto !important;
    }
    

    .back-arrow-register {
        font-size: 220%;
        margin-left: -1.3rem;
    }

    .register-form h1 {
        width: 90%;
        margin-left: .5rem;
        font-size: 1.2rem;
    }

    .register-error-message {
        width: 105%;
        margin: 0.5rem -.5rem;
        font-weight: 400;
        font-size: 13.5px;
    }

    .register-form label {
        margin-top: 4px;
        font-size: 14px;
    }

    .register-form input {
        width: 80%;
        font-size: 14px;
        margin:6px 0;
    }

    .eye-password {
        max-height: 20px !important;
        max-width: 20px !important;

    }

    .register-form button {
        width: 100%;
        font-size: 13px;
        font-weight: 500;
    }

    .register-buttons button {
        padding-left: .3em;
        width: 30%;
        height: 6vh;
    }

    .register-buttons p {
        font-size: 14px;
    }

    .login-text {
        margin-right: 0rem;
        margin-bottom: 0;
        margin-top: 14px !important;
    }

    .login-text a {
        font-size: 16px;
    }

    .all-fields{
        font-size: 14px;
        margin:5px 0;
    }
}

/* Estilos para smartphones pequeños en adelante */
@media (min-width: 376px) and (max-width: 414px) {
    .register-screen {
        width: 100vw;
        background: linear-gradient(165deg, rgb(255, 255, 255) 0% 7%, #F0F9FA 11% 17%, #c6b5a931 31%, #F0F9FA 54%, rgba(47, 0, 255, 0.247) 90%);
    }

    .register-form {
        padding: 1.5rem 2rem 6rem 2rem;
        margin: 0 .8rem 0 .8rem;
        width: 100%;
        height: auto;
    }
    .register-error-message {
        width: 105%;
        margin: 0.5rem -.5rem;
        font-weight: 400;
        font-size: 14px;
    }

    .back-arrow-register {
        font-size: 220%;
        margin-left: -1.3rem;
    }

    .register-form h1 {
        width: 90%;
        margin-left: .5rem;
        font-size: 1.5rem;
    }

    .register-form label {
        margin-top: 4px;
        font-size: 16px;
    }

    .register-form input {
        width: 80%;
        font-size: 16px;
    }

    .eye-password {
        max-height: 20px !important;
        max-width: 20px !important;

    }

    .register-form button {
        width: 100%;
        font-size: 14px;
        font-weight: 500;
    }

    .register-buttons button {
        padding-left: .3em;
        width: 30%;
        height: 5vh;
    }

    .register-buttons p {
        font-size: 15px;
    }

    .login-text {
        margin-right: 0rem;
        margin-bottom: 0;
        margin-top: 14px !important;
    }

    .login-text a {
        font-size: 16px;
    }
}

@media (min-width: 415px) and (max-width: 1024px){
    .register-screen {
        width: 100vw;
        background: linear-gradient(165deg, rgb(255, 255, 255) 0% 7%, #F0F9FA 11% 17%, #c6b5a931 31%, #F0F9FA 54%, rgba(47, 0, 255, 0.247) 90%);
    }

    .register-form {
        padding: 1.5rem 2rem 6rem 2rem;
        margin: 0 1.5rem 0 .8rem;
        width: 75%;
        height: auto;
    }

    .register-error-message {
        width: 105%;
        margin: 0.5rem -.5rem;
        font-weight: 400;
        font-size: 15px;
    }

    .back-arrow-register {
        font-size: 220%;
        margin-left: -1.3rem;
    }

    .register-form h1 {
        width: 90%;
        margin-left: .5rem;
        font-size: 2rem;
    }

    .register-form label {
        margin-top: 4px;
        font-size: 18px;
    }

    .register-form input {
        width: 80%;
        font-size: 17px;
    }

    .eye-password {
        max-height: 20px !important;
        max-width: 20px !important;

    }

    .register-form button {
        width: 100%;
        font-size: 15px;
        font-weight: 500;
    }

    .register-buttons button {
        padding-left: .3em;
        width: 30%;
        height: 5vh;
    }

    .register-buttons p {
        font-size: 16px;
    }

    .login-text {
        margin-right: 0rem;
        margin-bottom: 0;
        margin-top: 14px !important;
    }

    .login-text a {
        font-size: 18px;
    }
}



@media (max-width: 782px) and (orientation: landscape) {
    .register-screen {
        height: auto !important;
    }

    .back-arrow-register {
        margin-left: .1rem;
    }

    .register-form {
        height: auto !important;
        padding: 2rem;
        margin-top: 3rem;
        margin-bottom: 3rem;
    }

    

    .register-error-message {
        width: 105%;
        margin: 1rem -.5rem;
        padding-top: 1.8rem;
        font-weight: 400;
        font-size: 15px;
    }

    .register-form h1{
        font-size: 1.5rem;
        margin:0;
    }
    
    .register-form label {
        margin: 0;
        font-size: 15px;
    }

    .register-form input {
        width: 80%;
        height: 3vh;
        font-size: 15px;
    }
    .register-buttons button {
        height: 10vh;
    }

    .register-buttons{
        width: 85%;
    }
}