.app{
    margin: -1em -3.5em 0 -.5em;
    height: 100%;
    background: linear-gradient(165deg, #f8feff 0% 7%,#F0F9FA 11% 17%, #c6b5a931 31%, #F0F9FA 54%, rgba(47, 0, 255, 0.247) 90%);
    z-index: 1;
}


/*.app::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url("/fondo2.png");
    background-size: cover;
    background-position: center;
    filter: blur(18px) opacity(.5); 
    z-index: -1; 
}*/

