
.auth-status {
    display: flex;
    align-items: center;
}

/*
.auth-status:hover{
    transform: scale(0.97) !important;
}
*/

.auth-links {
    text-decoration: none;
    color: inherit; 
    margin: 0 5px;
    font-size: 90% !important;
}

.auth-links:hover {
    color: #5C61FF;
    font-weight: 500;
    transform: scale(1.1) !important;
}

.auth-links:focus {
    outline: none;
}

.hi{
    font-size: 90%;
    font-weight: 500 !important;
    color: #221536 !important;
}

.user-info {
    position: relative;
    cursor: pointer;
}

.user-info span {
    font-weight: bold;
    color: #5C61FF;
}

.logout-container {
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #e7e1dd;
    border: 1px solid #ddd;
    margin-top: 10px;
    padding: 10px 0px;
    width: 160px;
    height: 6vh;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.199);
    z-index: 1000; 
}

.logout-button {
    font-family: "Rajdhani", sans-serif;
    background-color: #0505051f;
    width: 100%;
    color:black;
    border: none;
    padding: 5px 0px;
    cursor: pointer;
    border-radius: 2px;
    width: 100%;
    font-size: 18px;
    font-weight: 500;
    margin: 11px 0px;
}

.logout-button:hover {
    background-color: #5c61ff42;
}

.logout-button:active {
    background-color: #353bdd5b;
}



/* Estilos para smartphones pequeños en adelante */
@media (max-width: 320px) {
    
.logout-container {
    background-color: #ffffff77;
    border-radius: 5px;
    border: 1px solid #ddd;
    margin-top: 10px;
    padding: 10px 0px 18px 0px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.212);
}

.logout-button {
    background-color: #1900ff1f;
    width: 100%;
    color:rgb(12, 3, 46);
    border-radius: 3px;
}

}