.typewriter {
    /*display: inline-block;
    font-size: 1.8rem;
    color: #221536;
    font-family: 'Rajdhani', sans-serif; */
    
    
    margin: 1rem 0 0 0;
    font-size: 4.5rem;
    font-weight: 500;
    background:  linear-gradient(115deg, #5C61FF 0% 35%, #a57f64 65%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;


    white-space: nowrap;
    overflow: hidden;
    content: '_'
}
  
  @keyframes blink {
    from { border-right-color: #221536; }
    to { border-right-color: transparent; }
  }
  

  .typewriter::after {
    content: '';
    border-right: 0.07em solid #221536;
    animation: blink .7s steps(99999) infinite;
    padding-right: 1.2rem;
  }



  /* Estilos para smartphones pequeños en adelante */
@media (max-width: 360px) {
  .typewriter{
    font-size: 1.4rem;
    margin: 1rem 0 0 0;
    font-weight: 700;
  }
}




/* Estilos para móviles medianos */
@media (min-width: 361px) and (max-width: 414px)  {
  .typewriter{
    font-size: 1.6rem;
    padding-right: 0px;
    font-weight: 700;
    margin: .0rem 0 0 0;
  }
}


/* Estilos para móviles medianos-grandes */
@media (min-width: 415px) and (max-width: 480px)   {
  .typewriter{
    font-size: 1.8rem;
    padding-right: 0px;
    font-weight: 700;
    margin: .0rem 0 0 0;
  }
}



/* Estilos para phablets */
@media (min-width: 481px) and (max-width: 540px)   {
  .typewriter{
    font-size: 2.2rem;
    padding-right: 0px;
    font-weight: 700;
    margin: .0rem 0 0 0;
  }
}



/* Estilos para  tablets pequeñas  */
@media (min-width: 541px) and (max-width: 600px)   {
  .typewriter{
    font-size: 2.5rem;
    padding-right: 0px;
    font-weight: 700;
    margin: .0rem 0 0 0;
  }
}


/* Estilos para tablets estándar */
@media (min-width: 601px) and (max-width: 768px) {
  .typewriter{
    font-size: 2.8rem;
    padding-right: 0px;
    font-weight: 700;
    margin: .0rem 0 0 0;
  }
}



@media (min-width: 769px) and (max-width: 1025px) {
  .typewriter{
    font-size: 3.5rem;
    padding-right: 0px;
    font-weight: 700;
    margin: .0rem 0 0 0;
  }
}


@media (min-width: 1025px) and (max-width: 1100px) {
  .typewriter{
    font-size: 3rem;
    padding-right: 0px;
    font-weight: 700;
    margin: .0rem 0 0 0;
  }
}


@media (min-width: 1101px) and (max-width: 1200px) {
  .typewriter{
    font-size: 3.37rem;
    padding-right: 0px;
    font-weight: 700;
    margin: .0rem 0 0 0;
  }
}


@media (min-width: 1201px) and (max-width: 1500px) {
  .typewriter{
    font-size: 3.7rem;
    padding-right: 0px;
    font-weight: 700;
    margin: .0rem 0 0 0;
  }
}