.about-general-container{
    display: flex;
}

.about-container1{
    margin: 1rem 0 0 6rem;
    font-family: "Orbitron", sans-serif;
    font-optical-sizing: auto;
    width: 60vw;
}

.about-container2{
    margin: 2rem 0 3rem 0;
    width: 25vw;
}

.about-h1{
    width: 57.5%;
    padding:15px;
    font-size: 75px;
    background: #5C61FF;
    color:#96FF1F;
}

.about-h3{
    font-family: "Rajdhani", sans-serif;
    font-weight: 500;
    font-size: 22px;
    width: 60%;
    color: #221536;
}

.about-container3{
    display: flex;
    margin-bottom: 3rem;
}

.column1{
    width: 35%;
}

.column2{
    width: 65%;
}

.about-h2{
    font-family: "Orbitron", sans-serif;
    font-optical-sizing: auto;
    color: #5C61FF;
    font-size: 30px;
}

.about-p{
    font-family: "Rajdhani", sans-serif;
    font-weight: 500;
    font-size: 20px;
    color: #221536;
}