.about-general-container {
  display: flex;
  margin-bottom: 5rem;
}

.about-container1 {
  margin: 1rem 3rem 0 6rem;
  font-family: "Orbitron", sans-serif;
  font-optical-sizing: auto;
  width: 45vw;
}

.about-container2 {
  margin: 4rem 0 3rem 0;
  width: 25vw;
  height: 75vh;
  border-radius: 48px 0 48px 0;
  border: 1px solid rgba(221, 173, 173, 0.096);
  padding: 1.5rem 0rem 1.5rem 3rem;
  /*background-color: rgba(255, 255, 255, 0.719);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);*/
  background: linear-gradient(145deg, #ffffff, #e3e3e3);
  box-shadow: 28px 28px 56px #c7c7c7,
    -28px -28px 56px #ffffff;
}


.about-h1 {
  width: 68%;
  padding: 15px;
  font-size: 75px;
  color: #96FF1F;

  border-radius: 10px;
  background: linear-gradient(145deg, #6268ff, #5357e6);
  box-shadow: 6px 6px 17px #363996,
    -6px -6px 17px #8288ff73;
}


.about-h3 {
  font-family: "Rajdhani", sans-serif;
  font-weight: 400;
  font-size: 24px;
  width: 80%;
  color: #221536;
  max-height: 62vh;
  overflow: hidden;
  position: relative;
  transition: max-height 0.5s ease;
}

.about-h3.collapsed {
  max-height: 63vh;
  color: rgba(0, 0, 0, 1);
}

.about-h3.expanded {
  max-height: none;
  color: rgba(0, 0, 0, 1);
}

.about-h3.collapsed::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 130px;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0), #f0f9fa 108%);
  pointer-events: none;
}


.read-more-button {
  color: #221536;
  font-family: "Rajdhani", sans-serif;
  padding: 0.7em 1.3em;
  font-size: 22px;
  font-weight: 500;
  border-radius: 18px 0 18px 0;
  background: linear-gradient(165deg, #e8e8e8bb 0% 20%, #fffefebb 90%);
  cursor: pointer;
  width: 10vw;
  border: 1px solid #e8e8e8;
  margin-top: 2rem;
  transition: all 0.3s ease;
  box-shadow: 6px 6px 12px #c5c5c5a9, -6px -6px 12px #ffffff;
}

.read-more-button:hover {
  color: #5C61FF;
  background: linear-gradient(165deg, #f0ededbb 0% 20%, #fffefedc 100%);
}

.read-more-button:active {
  color: #5C61FF;
  box-shadow: inset 4px 4px 12px #c5c5c5, inset -4px -4px 12px #ffffff;
}

.read-more-button:focus {
  outline: none;
}


.final-p {
  font-weight: 500;
}


.reachout {
  font-weight: 650;
  color: #5C61FF;
  margin: 0px 3px 0px 0px;
}

.reachout:hover {
  cursor: pointer;
}



.about-container3 {
  display: flex;
  margin-bottom: 3rem;
}

.column1 {
  width: 35%;
}

.column2 {
  width: 65%;
}

/*
.h2-container {
    padding: .5em;
    padding-left: 1.5rem;
    margin-top: 1rem;
    margin-bottom: 0.5rem;
    width: 62%;
    border-radius: 8px;
    border:1px solid rgba(221, 173, 173, 0.096);
    background: linear-gradient(315deg, #dfdfdf6e, #ffffff34);
    box-shadow:  -9px -9px 17px #dfdfdf98,
                 9px 9px 17px #ffffff;
}
*/

.about-h2 {
  font-family: "Orbitron", sans-serif;
  font-optical-sizing: auto;
  color: #5C61FF;
  font-size: 30px;
}

.about-p {
  font-family: "Rajdhani", sans-serif;
  font-weight: 500;
  font-size: 20px;
  color: #221536;
}




/* Estilos para smartphones pequeños en adelante */
@media (max-width: 414px) {

  .about-container1 {
    margin: 1rem 3rem 0 1.5rem;
    width: 75%;
  }

  .about-h1 {
    width: 85%;
    padding: 12px;
    font-size: 32px;

    border-radius: 10px;
    background: linear-gradient(145deg, #6268ff, #5357e6);
    box-shadow: 3px 3px 11px #363996,
      -3px -3px 11px #8288ff73;
  }


  .about-h3 {
    font-size: 15.5px;
    width: 105%;
    max-height: 62vh;
    overflow: hidden;
    position: relative;
    transition: max-height 0.5s ease;
    padding-top: 30px !important;
  }

  .about-h3,
  p {
    margin-top: -12px !important;
  }

  .about-h3.collapsed {
    max-height: 62vh;
    color: rgba(0, 0, 0, 1);
  }

  .about-h3.expanded {
    max-height: none;
    color: rgba(0, 0, 0, 1);
  }

  .about-h3.collapsed::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 120px;
    background: linear-gradient(to bottom, rgba(78, 78, 78, 0), #f3f4f3 98%);
  }


  .read-more-button {
    font-size: 15px;
    width: 34vw;
    margin-top: 1rem;
  }



  .about-container2 {
    margin: 4rem 1rem 3rem 1rem;
    width: 70%;
    height: 65vh;
    border-radius: 48px 0 48px 0;
    border: 1px solid rgba(221, 173, 173, 0.096);
    padding: 1.5rem 1.5rem 1.5rem 1.5rem;
    background: linear-gradient(145deg, #ffffff, #e3e3e3);
    box-shadow: 14px 14px 26px #c7c7c7,
      -14px -14px 26px #ebe7e7;
  }

  .about-container3 {
    display: flex;
    margin-bottom: 1rem;
  }

  .column1 {
    width: 50%;
  }

  .column2 {
    width: 50%;
  }

  .about-h2 {
    color: #5C61FF;
    font-size: 19px;
  }

  .about-p {
    font-size: 15px;
  }

}


/* Estilos para móviles medianos-grandes */
@media (min-width: 415px) and (max-width: 768px) {

  .about-container1 {
    margin: 1rem 3rem 0 2rem;
    width: 95%;
  }

  .about-h1 {
    width: 70%;
    padding: 12px;
    font-size: 42px;

    border-radius: 10px;
    background: linear-gradient(145deg, #6268ff, #5357e6);
    box-shadow: 3px 3px 11px #363996,
      -3px -3px 11px #8288ff73;
  }


  .about-h3 {
    font-size: 19px;
    width: 87%;
    max-height: 62vh;
    overflow: hidden;
    position: relative;
    transition: max-height 0.5s ease;
    padding-top: 30px !important;
  }

  .about-h3,
  p {
    margin-top: -12px !important;
  }

  .about-h3.collapsed {
    max-height: 62vh;
    color: rgba(0, 0, 0, 1);
  }

  .about-h3.expanded {
    max-height: none;
    color: rgba(0, 0, 0, 1);
  }

  .about-h3.collapsed::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 120px;
    background: linear-gradient(to bottom, rgba(78, 78, 78, 0), #f3f4f3 98%);
  }


  .read-more-button {
    font-size: 18px;
    width: 34vw;
    margin-top: 1.4rem;
  }



  .about-container2 {
    margin: 3rem 1rem 3rem 1.5rem;
    width: 74%;
    height: 65vh;
    border-radius: 48px 0 48px 0;
    border: 1px solid rgba(221, 173, 173, 0.096);
    padding: 1.5rem 1.7rem;
    background: linear-gradient(145deg, #ffffff, #e3e3e3);
    box-shadow: 14px 14px 26px #c7c7c7,
      -14px -14px 26px #ebe7e7;
  }

  .about-container3 {
    display: flex;
    margin-bottom: 1rem;
  }

  .column1 {
    width: 50%;
  }

  .column2 {
    width: 50%;
  }

  .about-h2 {
    color: #5C61FF;
    font-size: 22px;
  }

  .about-p {
    font-size: 16px;
  }
}


@media (min-width: 601px) and (max-width: 768px) {

  .about-h1 {
    width: 75%;
    font-size: 56px;
  }


  .about-h3 {
    font-size: 22px;
  }

  .read-more-button {
    font-size: 21px;
  }

  .about-container2 {
    width: 78%;
    padding: 1.5rem 2rem;
  }

  .about-h2 {
    font-size: 24px;
    margin-bottom: 30px;
  }

  .about-p {
    font-size: 17px;
  }
}

@media (max-width: 768px) {
  .about-general-container {
    display: grid;
    margin-bottom: 5rem;
    width: 100vw;
  }
}