.about-general-container{
    display: flex;
    margin-bottom: 5rem;
}

.about-container1{
    margin: 1rem 3rem 0 6rem;
    font-family: "Orbitron", sans-serif;
    font-optical-sizing: auto;
    width: 45vw;
}

.about-container2{
    margin: 4rem 0 3rem 0;
    width: 25vw;
    height: 73vh;
    border-radius:  48px 0 48px 0;
    padding-left: 3rem;
    background-color: rgba(255, 255, 255, 0.719);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.about-h1{
    width: 68%;
    padding:15px;
    font-size: 75px;
    background: #5C61FF;
    color:#96FF1F;
}

.about-h3{
    font-family: "Rajdhani", sans-serif;
    font-weight: 500;
    font-size: 24px;
    width: 70%;
    color: #221536;
}

.about-container3{
    display: flex;
    margin-bottom: 3rem;
}

.column1{
    width: 35%;
}

.column2{
    width: 65%;
}

.about-h2{
    font-family: "Orbitron", sans-serif;
    font-optical-sizing: auto;
    color: #5C61FF;
    font-size: 30px;
}

.about-p{
    font-family: "Rajdhani", sans-serif;
    font-weight: 500;
    font-size: 20px;
    color: #221536;
}