.background-container{  
    padding: 4.2% 4%;
    margin-bottom: -5rem;
    background: linear-gradient(180deg, #f8feff 0% 7%,#F0F9FA 11% 17%, #c6b5a915 31%, #F0F9FA 54%, rgba(47, 0, 255, 0.253) 115%);
    height: 63vh;
}

.background-title{
    font-size: 3.3rem;
    color: #221536; /*#b6a599;*/ 
    font-family: "Orbitron", sans-serif;
    font-optical-sizing: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    letter-spacing: 5px;
}

.background-container2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
  }