@keyframes marquee {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-50%);
    }
  }
  
  .ticker-container {
    overflow: hidden;
    white-space: nowrap;
    background: radial-gradient(#f8f9fa48 0% 3%, #f8f9fa00 60%);
    width: 100%;
    display: flex;
    align-items: center;
    mask-image: linear-gradient(to right, transparent, black 20%, black 80%, transparent);
    -webkit-mask-image: linear-gradient(to right, transparent, black 20%, black 80%, transparent);
  }
  
  .ticker-content {
    display: inline-block;
    animation: marquee 24s linear infinite;
    width: 678%; 
  }
  
  .ticker-content.paused {
    animation-play-state: paused;
  }
  
  .ticker-item {
    display: inline-block;
    padding: 2rem;
    width: 15rem;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
  }
  
  .ticker-item:hover {
    background: radial-gradient(#00000038 0% 2%, #f8f9fa00 55%);
    transform: scale(1.1);
  }
  
  .ticker-item:hover .icon, .ticker-item:hover .item-name-div {
    color: #96FF1F;
    font-weight: 500;
  }
  
  .icon {
    font-size: 10rem; 
    margin-bottom: 0.5rem;
    color: #221536;
    display: flex;
    justify-content: center;
  }
  
  .item-name-div {
    font-family: "Rajdhani", sans-serif;
    display: flex;
    justify-content: center;
    font-size: 1.8rem;
    color: #221536;
    font-weight: 500;
  }


/*@keyframes marquee {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-50%);
    }
}

.ticker-container {
    overflow: hidden;
    white-space: nowrap;
    background: radial-gradient(#f8f9fa56 0% 7%, #f8f9fa00 75%);
    width: 100%;
    display: flex;
    align-items: center;
}

.ticker-content {
    display: inline-block;
    animation: marquee 20s linear infinite;
    width: 20%;
}

.ticker-content.paused {
    animation-play-state: paused;
}

.ticker-item {
    display: inline-block;
    margin: 0% 12%;
    padding: 2rem 2rem;
    width: 50%;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.ticker-item:hover {
    background-color: #0000001c;
    color: white;
    transform: scale(1.1);
}

.icon {
    font-size: 12rem;
    margin-bottom: -3rem;
}

.item-name-div {
    font-family: "Rajdhani", sans-serif;
    display: flex;
    justify-content: center;
    font-size: 1.8rem;
}*/