footer {
    font-family: "Rajdhani", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 18px;
    background: linear-gradient(135deg, #5C61FF 0% 20%, #C6B5A9);
    color: #F0F9FA;
    border-radius: 72% 27% 10% 10% / 17% 2% 0% 0%;
    /*box-shadow: 20px 20px 60px #000000,
    -20px -20px 60px #5c61ff67;*/
}

.footerContainer {
    height: auto;
    width: 100vw;
    padding: 1.5rem 1rem 3.5rem 1rem;
/*
    margin: 0 5%;
*/
    display: flex;
    align-items: center;
    justify-content: space-around;
    transition: all .5s ease;
    
}

.footer-cols-container{
    width: 50vw;
    margin-top: 5%;
    margin-left: 10%;
    padding: 0 10%;
    height: 90%;
    display: flex;
    justify-content: space-evenly;
}

.footer-col1{
    height: 100%;
}

.footer-col2{
    height: 100%;
}

.footer-col3{
    width: 40vw;
}

.footer-item-title{
    font-size: 1.55rem;
    letter-spacing: 1px;
    font-weight: 600;
}

ul {
    list-style-type: none;
    padding: 0;
    transition: all .5s ease;
}

.footerhr{
    margin: 1.2rem 4rem -.2rem 0rem;
    width: 88%;
}

.location-logo{
    font-size: 1rem;
}

.footer-li-location{
    font-size: 1.2rem;
    font-weight: 400;
    padding-top: 1rem;
    letter-spacing: .5px;
}

.footerList {
    margin-bottom: 1.3em;
    letter-spacing: 2px;
    font-weight: 500;
    transition: all .5s ease;
}

.footerList:hover {
    transform: scale(1.1);
    cursor: pointer;
}

.footlink{
    color: #F0F9FA;
    text-decoration: none;
    font-size: 1em;
    margin-bottom: 22.5em;
}

.footlink:hover{
    cursor: pointer;
}

.footlink:focus {
    outline: none;
}

.logofoot {
    width: 13.4vw;
    height: auto;
    margin-left: 1%;
    margin-right: 3%;
    transition: transform 0.5s ease;
    /*
    border-radius: 38px 0 38px 0;
    background: linear-gradient(145deg, #a69ed3, #8c85b1);
    box-shadow:  15px 15px 38px #827ca5,
    -15px -15px 38px #b4ace5;
    */
}

.logofoot:hover {
    transform: scale(1.015);
    transition: all 0.5s ease-in-out;
}

.logofoot:focus {
    outline: none;
}





.copyright {
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    background-color: #221536;
    color: #F0F9FA;
    font-size: large;
    padding-bottom: .7rem;
    padding-top: .7rem;
    letter-spacing: 4px;
    font-weight: 400;
}


.copyright-span {
    color: #f0f9fad5;
    font-weight: 100;
    font-size: 3rem;
    margin: -.5rem 1rem !important;
}


@media (max-width: 320px) {
    .footerContainer {
        height: 47vh !important;
    }
    .footer-li-location{
        font-size: .9em !important;
        letter-spacing: 0px !important;
    }
    .footerhr{
        width: 75% !important;
    }
    .argentina{
        margin-left: 18px !important;
        letter-spacing: 2px;
    }
}

/* Estilos para smartphones peque침os en adelante */
@media (max-width: 360px) {
    footer {
        font-size: 14px;
        border-radius: 72% 67% 10% 10% / 14% 6% 0% 0%;
    }
    
    .footerContainer {
        height: auto;
        padding: 1.5rem 1rem 3.5rem 1rem;
        margin-bottom: -1rem;
        justify-content: space-around;
        transition: all .5s ease;
    }
    
    .footer-cols-container{
        width: 60vw;
        height: 70%;
        margin-top: 0%;
        margin-left: 0%;
        padding: 0 0%;
    }

    .footer-col1{
        margin-right: 1.5rem;
    }
    
    .footer-col3{
        width: 40vw;
        margin-left: -3%;
        padding-top: 2.8rem;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .footer-item-title{
        font-size: .9rem;
        letter-spacing: 1px;
        font-weight: 600;
        margin-bottom: 8px;
    }
    
    ul {
        list-style-type: none;
        padding: 0;
        transition: all .5s ease;
    }
    .explore-list{
        height: 70%;
    }

    .footer-li{
        font-size: .9em;
        font-weight: 400;
    }
    

    .footerhr{
        margin: -.2rem 4rem -.2rem 0rem;
        width: 70%;
    }


    .location-logo{
        font-size: .9rem;
    }

    .footer-li-location{
        font-size: .9em;
        font-weight: 400;
        letter-spacing: 1px;
    }

    .argentina {
        margin-left: 39px;
    }

    .explore-list{
        font-size: 12px;
    }
    
    .footerList {
        margin-bottom: .9em;
        letter-spacing: 2px;
        font-weight: 400;
        transition: all .5s ease;
    }
    
    .footerList:hover {
        transform: scale(1.1);
        cursor: pointer;
    }
    
    .footlink{
        font-size: 1.1em;
    }
    
    .logofoot {
        width: 40vw;
        height: auto;
        margin-left: 0%;
        margin-right: 0%;
    }
    

    .copyright {
        font-size: smaller;
        padding-bottom: .7rem;
        padding-top: .7rem;
        letter-spacing: 4px;
        font-weight: 400;
    
    }
    
    
    .copyright-span {
        color: #f0f9fad5;
        font-weight: 100;
        font-size: 1.5rem;
        margin: -.5rem 0rem;
    }
    
}

/* Estilos para m칩viles medianos */
@media (min-width: 361px) and (max-width: 413px) {
    footer {
        font-size: 14px;
        border-radius: 72% 67% 10% 10% / 14% 6% 0% 0%;
    }
    
    .footerContainer {
        height: auto;
        padding: 1.5rem 1rem 3.5rem 1rem;
        margin-bottom: -1rem;
        justify-content: space-around;
        transition: all .5s ease;
    }
    
    .footer-cols-container{
        width: 60vw;
        height: 70%;
        margin-top: 0%;
        margin-left: 0%;
        padding: 0 0%;
    }

    .footer-col1{
        margin-right: 1.5rem;
    }
    
    .footer-col3{
        width: 40vw;
        margin-left: -3%;
        padding-top: 0rem;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .footer-item-title{
        font-size: .9rem;
        letter-spacing: 1px;
        font-weight: 600;
        margin-bottom: 8px;
    }
    
    ul {
        list-style-type: none;
        padding: 0;
        transition: all .5s ease;
    }
    .explore-list{
        height: 70%;
    }

    .footer-li{
        font-size: .9em;
        font-weight: 400;
    }
    

    .footerhr{
        margin: -.2rem 4rem -.2rem 0rem;
        width: 65%;
    }

    .footer-li-location{
        font-size: 1.05em;
        font-weight: 400;
        letter-spacing: 1px;
    }
    .argentina {
        margin-left: 40px;
    }

    .explore-list{
        font-size: 12px;
    }
    
    .footerList {
        margin-bottom: .9em;
        letter-spacing: 2px;
        font-weight: 400;
        transition: all .5s ease;
    }
    
    .footerList:hover {
        transform: scale(1.1);
        cursor: pointer;
    }
    
    .footlink{
        font-size: 1.1em;
    }
    
    .logofoot {
        width: 40vw;
        height: auto;
        margin-left: 0%;
        margin-right: 0%;
    }
    

    .copyright {
        font-size: small;
        padding-bottom: .7rem;
        padding-top: .7rem;
        letter-spacing: 4px;
        font-weight: 400;
    
    }
    
    
    .copyright-span {
        color: #f0f9fad5;
        font-weight: 100;
        font-size: 1.5rem;
        margin: -.5rem 0rem;
    }
    
}


/* Estilos para m칩viles medianos-grandes */
@media (min-width: 414px) and (max-width: 480px) {
    footer {
        font-size: 14px;
        border-radius: 72% 67% 10% 10% / 14% 6% 0% 0%;
    }
    
    .footerContainer {
        height: auto;
        padding: 1.5rem 1rem 3.5rem 1rem;
        margin-bottom: -1rem;
    }
    
    .footer-cols-container{
        width: 70vw;
        height: 80%;
        margin-left: 5%;
        padding: 0 0%;
    }

    .footer-col1{
        margin-right: 1.7rem;
    }
    
    .footer-col3{
        width: 40vw;
        margin-left: -3%;
        padding-top: 5rem;
    }
    
    .footer-item-title{
        font-size: 1.12rem;
        margin-bottom: 8px;
    }

    .footer-li{
        font-size: 1em;
        font-weight: 400;
    }
    

    .footerhr{
        margin: -.2rem 4rem -.2rem 0rem;
        width: 100%;
        margin-bottom: 0em;
    }

    .footer-li-location{
        font-size: .87em;
        font-weight: 400;
        width: 160%;
        margin-top: -.5rem;
    }

    .explore-list{
        font-size: 15px;
    }
    
    .footerList {
        margin-bottom: 1.3em;
        letter-spacing: 2px;
        font-weight: 400;
        transition: all .5s ease;
    }
    
    .footerList:hover {
        transform: scale(1.1);
        cursor: pointer;
    }
    
    .footlink{
        font-size: 1.1em;
    }
    
    .logofoot {
        width: 40vw;
        margin-left: 0%;
        margin-right: 0%;
    }
    

    .copyright {
        font-size: small;
        padding-bottom: .7rem;
        padding-top: .7rem;
        letter-spacing: 4px;
        font-weight: 400;
    
    }
    
    .copyright-span {
        font-size: 25px;
        margin: 0rem 0rem;
    }
}


/* Estilos para phablets */
@media (min-width: 481px) and (max-width: 540px) {
    footer {
        font-size: 14px;
        border-radius: 72% 67% 10% 10% / 14% 6% 0% 0%;
    }
    
    .footerContainer {
        height: auto;
        padding: 1.5rem 1rem 3.5rem 1rem;
        margin-bottom: -1rem;
    }
    
    .footer-cols-container{
        width: 70vw;
        height: 80%;
        margin-left: 5%;
        padding: 0 0%;
    }

    .footer-col1{
        margin-right: 1.7rem;
    }
    
    .footer-col3{
        width: 40vw;
        margin-left: -3%;
        padding-top: 5.7rem;
    }
    
    .footer-item-title{
        font-size: 1.12rem;
        margin-bottom: 8px;
    }

    .footer-li{
        font-size: 1em;
        font-weight: 400;
    }
    

    .footerhr{
        margin: -.2rem 4rem -.2rem 0rem;
        width: 100%;
        margin-bottom: -.2em;
    }

    .footer-li-location{
        font-size: 1.03em;
        font-weight: 400;
        letter-spacing: 1px;
        margin-top: -.5rem;
    }

    .explore-list{
        font-size: 14px;
    }
    
    .footerList {
        margin-bottom: .9em;
        letter-spacing: 2px;
        font-weight: 400;
        transition: all .5s ease;
    }
    
    .footerList:hover {
        transform: scale(1.1);
        cursor: pointer;
    }
    
    .footlink{
        font-size: 1.1em;
    }
    
    .logofoot {
        width: 32vw;
        margin-left: 0%;
        margin-right: 0%;
    }
    

    .copyright {
        font-size: small;
        padding-bottom: .7rem;
        padding-top: .7rem;
        letter-spacing: 4px;
        font-weight: 400;
    
    }
    
    .copyright-span {
        font-size: 25px;
        margin: 0rem 0rem;
    }
    
}

/* Estilos para  tablets peque침as  */
@media (min-width: 541px) and (max-width: 768px) {
    footer {
        font-size: 14px;
        border-radius: 72% 67% 10% 10% / 14% 6% 0% 0%;
    }
    
    .footerContainer {
        height: auto;
        padding: 1.5rem 1rem 3.5rem 1rem;
        margin-bottom: -1rem;
    }
    
    .footer-cols-container{
        width: 70vw;
        height: 80%;
        margin-left: 5%;
        padding: 0 0%;
    }

    .footer-col1{
        margin-right: 1.7rem;
    }
    
    .footer-col3{
        width: 40vw;
        margin-left: -3%;
        padding-top: 5rem;
    }
    
    .footer-item-title{
        font-size: 1.12rem;
        margin-bottom: 8px;
    }

    .footer-li{
        font-size: 1em;
        font-weight: 400;
    }
    

    .footerhr{
        margin: -.2rem 4rem -.2rem 0rem;
        width: 100%;
        margin-bottom: -.2em;
    }

    .footer-li-location{
        font-size: 1.03em;
        font-weight: 400;
        letter-spacing: 1px;
        margin-top: -.5rem;
    }

    .explore-list{
        font-size: 14px;
    }
    
    .footerList {
        margin-bottom: .9em;
        letter-spacing: 2px;
        font-weight: 400;
        transition: all .5s ease;
    }
    
    .footerList:hover {
        transform: scale(1.1);
        cursor: pointer;
    }
    
    .footlink{
        font-size: 1.1em;
    }
    
    .logofoot {
        width: 32vw;
        margin-left: 0%;
        margin-right: 0%;
    }
    

    .copyright {
        font-size: medium;
        padding-bottom: .7rem;
        padding-top: .7rem;
        letter-spacing: 4px;
        font-weight: 400;
    
    }
    
    .copyright-span {
        font-size: 25px;
        margin: 0rem 0rem;
    }
}

@media (min-width: 601px) and (max-width: 768px){ 
    .footer-li-location{
        font-size: 1.3em !important;
        
    }
    .location-logo{
        font-size: 1.15rem;
        margin-right: 10px;
    }

    .explore-list {
        font-size: .92rem;
    }
}


@media (min-width: 769px) and (max-width: 1200px) {
    footer {
        font-size: 16px;
    }
    
    .footerContainer {
        padding: 1.5rem 1rem 3.5rem 1rem;
        margin-bottom: -1rem;
    }
    
    .footer-cols-container{
        height: 80%;
        margin-left: 5%;
        padding: 0 0%;
    }

    .footer-col1{
        margin-right: 2rem;
    }
    
    .footer-col3{
        width: 40vw;
        margin-left: -3%;
    }
    
    .footer-item-title{
        font-size: 1.34rem;
        margin-bottom: 8px;
    }
 
    .footer-li{
        font-size: 1.2em;
        font-weight: 400;
    }
    

    .footerhr{
        margin: -.2rem 4rem -.2rem 0rem;
        width: 91%;
    }

    .footer-li-location{
        font-weight: 400;
        letter-spacing: 1px;
    }

    .explore-list{
        font-size: 16px;
    }
    
    .footerList {
        margin-bottom: .9em;
        letter-spacing: 2px;
        font-weight: 400;
        transition: all .5s ease;
    }
    
    .footerList:hover {
        transform: scale(1.1);
        cursor: pointer;
    }
    
    .logofoot {
        width: 28vw;
        margin-left: 0%;
        margin-right: 0%;
    }
    

    .copyright {
        font-size: medium;
        padding-bottom: .7rem;
        padding-top: .7rem;
        letter-spacing: 4px;
        font-weight: 400;
    }
    
    .copyright-span {
        font-size: 25px;
        margin: 0rem 0rem;
    }
}


@media (min-width: 1025px) and (max-width: 1200px) {
    .logofoot {
        width: 22vw !important;
    }
}