

header {
    font-family: "Rajdhani", sans-serif;
    font-weight: 500;
    font-style: normal;
    border-bottom: 2px solid #96FF1F;
    /*background: #F0F9FA;*/
    color: #221536;
    padding-left: 1rem;
    padding-right: 3rem;
    margin-bottom: 2rem;
}

.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 14vh;
}

.logo-header {
    width: 230px;
    height: auto;
    margin-left: 50%;
    margin-top: 1rem;
    filter: drop-shadow(1px 1px 1px rgb(255, 255, 255));

}

.navbarList {
    margin-right: 8rem;
    display: flex;
    align-items: center;
}

.objectList {
    display: inline-block;
    margin: 1.5rem;
    cursor:pointer;
    font-size:large;
    font-size: 21px;
}

.objectList:hover {
    transform: scale(1.03);
    font-weight: 600;
}

.nav-link {
    text-decoration: none; 
    color: inherit; 
}

.nav-link:hover, .nav-link:focus {
    transition: all .5s ease;
}

.vertical-separator {
    width: 1px;
    height: 35px; 
    background-color: #080a3f;
    margin: 0 15px; 
  }

  .active-nav-link {
    color: #5C61FF;
    font-weight: 600;
  }