.login-screen {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(165deg, rgb(255, 255, 255) 0% 7%, #F0F9FA 11% 17%, #c6b5a931 31%, #F0F9FA 54%, rgba(47, 0, 255, 0.247) 90%);
}

.login-form {
    font-family: "Rajdhani", sans-serif;
    font-optical-sizing: auto;
    padding: 2rem 2rem 4rem 5rem;
    border-radius: 8px;
    max-width: 550px;
    width: 100%;

    /*
    background: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    */
    border: 1px solid rgba(145, 126, 126, 0.205);
    background: linear-gradient(315deg, #ffffff, #e6e6e6);
    box-shadow: -21px -21px 42px #d4d4d4,
        21px 21px 42px #ffffff94;
}

.back-arrow-login {
    font-size: 280%;
    transition: transform 0.3s;
    margin-left: -2.5rem;
    color: #5C61FF;
}

.back-arrow-login:hover {
    transform: scale(1.1);
    color: #221536;
    background: radial-gradient(#96FF1F 0% 50%, #f8f9fa00 55%);

}

.back-arrow-login:focus {
    outline: none;
}

.login-form h1 {
    width: 90%;
    font-family: "Orbitron", sans-serif;
    font-optical-sizing: auto;
    text-align: center;
    margin-bottom: 1.5rem;
    font-size: 2.5rem;
    color: #5C61FF;
}

.login-form label {
    display: block;
    margin-top: 10px;
    font-weight: 500;
    font-size: 20px;
    letter-spacing: 1px;
    text-align: left;
    color: #221536;
}

.login-form input {
    width: 85%;
    padding: 10px;
    margin-top: 8px;
    margin-bottom: 12px;
    border: 1px solid #c6b5a969;
    border-radius: 4px;
    font-family: "Rajdhani", sans-serif;
    font-optical-sizing: auto;
    font-size: 20px;

    box-shadow: inset 4px 4px 10px #bcbcbc70, inset -4px -4px 10px #fffffffa;

}

.login-form input:focus,
.login-form textarea:focus {
    /*
    border: 1px solid #5C61FF; 
    box-shadow: 0 0 5px rgba(92, 97, 255, 0.5); 

    box-shadow: inset 2px 2px 15px rgba(92, 97, 255, 0.342), inset -2px -2px 5px #ffffff, 2px 2px 5px #bcbcbc, -2px -2px 5px #ffffff;
    */
    outline: none;
    box-shadow: rgba(92, 97, 255, 0.342) 0px 2px 18px inset, rgba(0, 0, 0, 0.116) 0px 18px 26px -18px inset;
}

.login-form button {
    margin-top: 10px;
    padding: 10px;
    background-color: #5C61FF;
    border: 1px solid #96FF1F;
    color: white;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
    font-weight: 600;
    font-family: "Rajdhani", sans-serif;
    font-optical-sizing: auto;
    box-sizing: border-box;
    transition: background-color 0.3s, transform 0.3s;
}

.login-form button:hover {
    background-color: #F0F9FA;
    color: #5C61FF;
    letter-spacing: 1px;
    border: 2px solid #96FF1F;
}

.login-form button:active {
    background-color: #dee4e4;
    color: #5C61FF;
    box-shadow: none;
}

.login-form button:focus {
    outline: none;
}

.login-buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 0.5rem;
}

.login-buttons button {
    width: 35%;
    letter-spacing: 1px;
    border: 1px solid rgba(128, 0, 128, 0.185);
    background: linear-gradient(315deg, #5357e6, #6268ff);
    box-shadow: -3px -3px 6px #4e53d9b2,
        3px 3px 6px #6a6fff9d;
    transition: all 0.3s ease-in-out;
}

.login-buttons button:hover {
    border: 1px solid rgba(128, 0, 128, 0.185);
    background: linear-gradient(315deg, #383ef3, #5358fc);
    box-shadow: -3px -3px 6px #4e53d977,
        3px 3px 6px #6a6fff70;
    color: #96FF1F;
}

.login-buttons button:active {
    border: 1px solid rgba(128, 0, 128, 0.185);
    background: linear-gradient(315deg, #5c61ff, #484eee);
    box-shadow: inset -7px -7px 14px #4347ba,
        inset 7px 7px 14px #757bff;
}

.login-buttons p {
    font-size: 18px;
    font-style: none;
}

.register-text {
    margin-right: 4rem;
}

.register-text a {
    color: #5C61FF;
    text-decoration: none;
    font-weight: bold;
    font-size: 22px;
    transition: color 0.2s;
}

.register-text a:hover {
    color: #221536;
}

.register-text a:focus {
    outline: none;
}

.register-text-back a {
    color: #221536;
    text-decoration: none;
    font-weight: bold;
    font-size: 20px;
    padding-left: 14.5rem;
    transition: transform 0.3s;
}



/* Estilos para smartphones pequeños en adelante */
@media (max-width: 414px) {
    .login-screen {
        width: 100vw;
        background: linear-gradient(165deg, rgb(255, 255, 255) 0% 7%, #F0F9FA 11% 17%, #c6b5a931 31%, #F0F9FA 54%, rgba(47, 0, 255, 0.247) 90%);
    }

    .login-form {
        padding: 2rem 2rem 4rem 2rem;
        margin: 0 .8rem 0 .8rem;
        width: 100%;
        background: linear-gradient(315deg, #ffffff, #e6e6e6);
        box-shadow: -21px -21px 42px #d4d4d4,
            21px 21px 42px #ffffff94;
    }

    .back-arrow-login {
        font-size: 220%;
        transition: transform 0.3s;
        margin-left: -1.3rem;
        color: #5C61FF;
    }

    .back-arrow-login:hover {
        transform: scale(1.1);

    }

    .login-form h1 {
        width: 90%;
        margin-left: .5rem;
        text-align: center;
        font-size: 1.5rem;
    }

    .login-form label {
        margin-top: 10px;
        font-weight: 500;
        font-size: 16px;
    }

    .login-form input {
        width: 80%;
        font-size: 16px;
    }

    .login-form button {
        width: 100%;
        font-size: 15px;
        font-weight: 500;
    }

    .login-buttons button {
        width: 30%;
        height: 5vh;
    }

    .login-buttons p {
        font-size: 15px;
    }

    .register-text {
        margin-right: 0rem;
        margin-bottom: 0;
        margin-top: 14px !important;
    }

    .register-text a {
        font-size: 16px;
    }
}

@media (min-width: 415px) and (max-width: 1024px) {
    .login-screen {
        width: 100vw;
        background: linear-gradient(165deg, rgb(255, 255, 255) 0% 7%, #F0F9FA 11% 17%, #c6b5a931 31%, #F0F9FA 54%, rgba(47, 0, 255, 0.247) 90%);
    }

    .login-form {
        padding: 2rem 2rem 4rem 2rem;
        margin: 0 1.4rem 0 .8rem;
        width: 75%;
        background: linear-gradient(315deg, #ffffff, #e6e6e6);
        box-shadow: -21px -21px 42px #d4d4d4,
            21px 21px 42px #ffffff94;
    }

    .back-arrow-login {
        font-size: 220%;
        transition: transform 0.3s;
        margin-left: -1.3rem;
        color: #5C61FF;
    }

    .back-arrow-login:hover {
        transform: scale(1.1);

    }

    .login-form h1 {
        width: 90%;
        margin-left: .5rem;
        text-align: center;
        font-size: 2rem;
    }

    .login-form label {
        margin-top: 10px;
        font-weight: 500;
        font-size: 18px;
    }

    .login-form input {
        width: 80%;
        font-size: 17px;
    }

    .login-form button {
        width: 100%;
        font-size: 17px;
        font-weight: 500;
    }

    .login-buttons button {
        width: 30%;
        height: 5vh;
    }

    .login-buttons p {
        font-size: 17px;
    }

    .register-text {
        margin-right: 0rem;
        margin-bottom: 0;
        margin-top: 14px !important;
    }

    .register-text a {
        font-size: 18.5px;
    }
}