.comments-container {
    background: linear-gradient(175deg, #b6a59941 0% 20%, #8f7e72c4 90%);
    min-height: 120vh;
    padding: 1rem 0 9.5rem 0;
    margin: 0 0rem -9rem 0rem;
    width: 100%;
}

.comments-subcontainer {
    padding-top: 1.5rem;
    margin-left: 30%;
    margin-right: 30%;
}

.title-divider {
    border: none;
    border-top: 2px solid #5C61FF;
}

.title-divider2 {
    border: none;
    border-top: 1px solid #2215363d;
}

.comments-title {
    font-weight: 500;
    font-size: 1.82rem;
    color: #221536;
}



.messages-box {
    list-style: none;
    padding: 0;
    margin: 0 0 3.3% 0;
    max-height: none;
    overflow-y: auto;
}

.message-item .message-content {
    word-wrap: break-word; 
    white-space: pre-wrap; 
}

.message-item {
    padding: 1.5%;
    border-bottom: 1px solid #eee;
    margin-bottom: 2%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background-color: #f7f7fa;
    border-radius: 8px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);

    max-width: 100%; 
    height: auto; 
}

.message-item:last-child {
    border-bottom: none;
}


.new-message-form {
    gap: 10px;
    margin: 3% 0 7% 0;
    width: 100%;
}

.new-message-input {
    flex-grow: 1;
    width: 97%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 12px 1px 12px 1px;
    background-color: #f8f8ff;
    font-size: 19px;
    font-family: "Rajdhani", sans-serif;
    font-optical-sizing: auto;
}

.input-name-container {
    display: flex;
    width: 100%;

}

.new-message-input-name {
    width: 100%;
    flex-grow: 0.44;
    padding: 10px;
    border: 1px solid #ddd;
    margin-bottom: 2%;
    border-radius: 12px 1px 12px 1px;
    font-size: 19px;
    font-family: "Rajdhani", sans-serif;
    font-optical-sizing: auto;
    background-color: #f8f8ff;
}

.new-message-input-name:focus {
    border: 1px solid #5c61ff4d;
    box-shadow: inset 4px 4px 12px rgba(0, 0, 0, 0.1), inset -4px -4px 12px #ffffff;
    outline: none;
}

.input-error {
    flex-grow: 0.44;
    padding: 10px;
    border: 1px solid #ff0d0d79;
    box-shadow: 0px 2px 4px rgba(212, 32, 32, 0.233);
    outline: none;
    margin-bottom: 2%;
    border-radius: 12px 1px 12px 1px;
    background-color: #f8f8ff;
    font-size: 19px;
    font-family: "Rajdhani", sans-serif;
    font-optical-sizing: auto;
}

.input-error:focus {
    border: 1px solid #5c61ff9a;
}

.input-error::placeholder {
    color: #d64a4a;
    opacity: 1;
}

.new-message-input:focus {
    border: 1px solid #5c61ff4d;
    box-shadow: inset 4px 4px 12px rgba(0, 0, 0, 0.1), inset -4px -4px 12px #ffffff;

    outline: none;
}

.new-message-button {
    font-family: "Rajdhani", sans-serif;
    font-optical-sizing: auto;
    margin: 3% 0% 0% 0%;
    width: 18%;
    font-size: 22px;
    padding: 10px 20px;
    color: #fff;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color .3s ease-in-out;

    background: linear-gradient(145deg, #6268ff, #5357e6);
    box-shadow: 4px 4px 12px #3639969c,
        -4px -4px 12px #8288ff4f;
}


.new-message-button:focus {
    box-shadow: 0 0 8px #96FF1F;
    outline: none;
}

.new-message-button:hover {
    background: linear-gradient(145deg, #363cec, #5357e6);
}

.new-message-button:active {
    background-color: #1f25da;
}

.messages-box {
    margin-top: 1.2rem;
    color: #221536;
}

.message-item {
    font-family: "Rajdhani", sans-serif;
    font-optical-sizing: auto;
    font-size: 20px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.219);
}

.name-date-container {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.message-author {
    margin-left: 0.3rem;
    color: #5C61FF;
    font-weight: 500;
}

.message-content {
    margin-left: 0.3rem;
    font-weight: 500;
}

.message-item-date {
    margin-left: 0.3rem;
    font-size: 15px;
    letter-spacing: 1px;
}

.comment-reactions-delete-container {
    margin-top: 2.2%;
    border-top: 1px solid rgba(0, 0, 0, 0.205);
    padding-top: 1.5%;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.comment-reactions-container {
    display: flex;
    font-size: 1.5rem;
}


.com-reaction-icon-like {

    margin-left: 0.7rem;

}

.com-reaction-icon-like:hover {
    color: rgb(77, 98, 216);
    cursor: pointer;
}

.com-reaction-icon-like:active {
    transform: scale(0.95);
}

.com-reaction-icon-like-solid {
    margin-left: 0.7rem;
    color: rgb(77, 98, 216);
}

.com-reaction-icon-like-solid:hover {
    color: rgba(77, 98, 216, 0.726);
    cursor: pointer;
}

.com-reaction-icon-like-solid:active {
    transform: scale(0.95);
}

.com-reaction-icon-heart {
    margin-left: 0.1rem;
}

.com-reaction-icon-heart:hover {
    color: rgb(236, 91, 91);
    cursor: pointer;
}

.com-reaction-icon-heart:active {
    transform: scale(0.95);
}

.com-reaction-icon-heart-solid {
    color: rgb(236, 91, 91);
    margin-left: 0.1rem;
}

.com-reaction-icon-heart-solid:hover {
    color: rgba(236, 91, 91, 0.726);
    cursor: pointer;
}

.com-reaction-icon-heart-solid:active {
    transform: scale(0.95);
}


.com-reaction-icon-dislike {
    margin-left: 0.7rem;
}

.com-reaction-icon-dislike:hover {
    color: rgb(165, 77, 216);
    cursor: pointer;
}

.com-reaction-icon-dislike:active {
    transform: scale(0.95);
}



.com-reaction-icon-dislike-solid {
    margin-left: 0.7rem;
    color: rgb(165, 77, 216);
}

.com-reaction-icon-dislike-solid:hover {
    color: rgba(165, 77, 216, 0.726);
    cursor: pointer;
}

.com-reaction-icon-dislike-solid:active {
    transform: scale(0.95);
}


.com-reaction-icon-trash {
    margin-right: 0.7rem;
    font-size: 1.4rem;
    transition: transform 0.3s ease;
}

.com-reaction-icon-trash:hover {
    cursor: pointer;
    color: rgb(155, 27, 27);
    transform: skew(0deg, 6deg) scale(1.05);
}

.total-comment-reactions {
    margin: 0 .2rem;
    font-size: 70%;
    font-weight: 500;
    color: #221536;
}


.see-more-button {
    background: rgba(255, 255, 255, 0.055);
    border-radius: 8px;
    padding: 5px 8px;
    border: none;
    color: #221536;
    cursor: pointer;
    font-family: "Orbitron", sans-serif;
    letter-spacing: 1px;
    font-size: 1.2rem;
    margin-bottom: 4%;
}

.see-more-button:hover {
    background: rgba(255, 255, 255, 0.185);
    color: #5C61FF;
}




/* Estilos para smartphones pequeños en adelante */
@media (max-width: 414px) {
    .comments-container {
        /*
        min-height: 120vh;
        padding: 1rem 0 9.5rem 0;
        margin: 0 0rem -9rem -7rem;
        width: 150%;
        */
        width: 100%;
        min-height: 120vh;
        padding: 1rem 0.8rem 9.5rem 0.8rem;
        margin: 0;
        margin-bottom: -9rem;
    }

    .comments-subcontainer {
        width: 100%;
        margin:0;
        padding: 0;
    }

    .title-divider {
        margin-bottom: 1rem;
        margin-top: -1rem;
        margin-right: 14%;
    }

    .title-divider2 {
        margin-right: 14%;
    }

    .comments-title {
        font-size: 1.3rem;
    }

    .message-item {
        padding: 2.5%;
        margin-bottom: 5%;
        margin-right: 11.5%;
    }

    .new-message-form {
        gap: 10px;
        margin: 3% 0 7% 0;
        width: 90%;
    }

    .new-message-input {
        width: 92%;
        padding: 7px;
        font-size: 16px;
    }

    .input-name-container {
        display: grid;
        width: 98%;
    }

    .new-message-input-name {
        width: 94%;
        padding: 7px;
        font-size: 16px;
    }

    .input-error {
        width: 94%;
        padding: 7px;
        font-size: 16px;
    }

    .new-message-button {
        width: 27%;
        font-size: 16px;
        padding: 7px 16px;
        margin-top: 10px;
        box-shadow: 2px 2px 8px #3639969c,
            -2px -2px 8px #8288ff4f;
    }

    .messages-box {
        margin-top: 1.5rem;
    }

    .message-item {
        font-size: 16px;
    }

    .message-author {
        font-weight: 600;
    }

    .message-content {
        margin-left: 0.3rem;
        font-weight: 500;
    }

    .message-item-date {
        font-size: 13px;
    }

    .comment-reactions-delete-container {
        margin-top: 3%;
        padding-top: 3%;
    }

    .comment-reactions-container {
        font-size: 1.2rem;
    }

    .com-reaction-icon-trash {
        font-size: 1.2rem;
    }


    .see-more-button {
        font-size: 1rem;
        width: 87%;
    }

}


@media (min-width: 415px) and (max-width: 769px) {
    .comments-container {
        width: 100%;
        min-height: 120vh;
        padding: 1rem 0.8rem 9.5rem 0.8rem;
        margin: 0;
        margin-bottom: -9rem;
    }

    .comments-subcontainer {
        width: 100%;
        margin:0;
        padding: 0;
    }

    .title-divider {
        margin-bottom: 1rem;
        margin-top: -1rem;
        margin-right: 14%;
    }

    .title-divider2 {
        margin-right: 14%;
    }

    .comments-title {
        font-size: 1.5rem;
    }

    .message-item {
        padding: 2.8%;
        margin-bottom: 6%;
        margin-right: 11.5%;
    }

    .new-message-form {
        gap: 10px;
        margin: 3% 0 7% 0;
        width: 90%;
    }

    .new-message-input {
        width: 92%;
        padding: 9px;
        font-size: 17px;
    }

    .input-name-container {
        display: grid;
        width: 98%;
    }

    .new-message-input-name {
        width: 94%;
        padding: 9px;
        font-size: 17px;
    }

    .input-error {
        width: 94%;
        padding: 9px;
        font-size: 17px;
    }

    .new-message-button {
        width: 28%;
        font-size: 18px;
        padding: 7px 16px;
        margin-top: 15px;
        box-shadow: 2px 2px 8px #3639969c,
            -2px -2px 8px #8288ff4f;
    }

    .messages-box {
        margin-top: 2rem;
    }

    .message-item {
        font-size: 17px;
    }

    .message-author {
        font-weight: 600;
    }

    .message-content {
        margin-left: 0.3rem;
        font-weight: 500;
    }

    .message-item-date {
        font-size: 13.5px;
    }

    .comment-reactions-delete-container {
        margin-top: 3%;
        padding-top: 3%;
    }

    .comment-reactions-container {
        font-size: 1.3rem;
    }

    .com-reaction-icon-trash {
        font-size: 1.3rem;
    }


    .see-more-button {
        font-size: 1.15rem;
        width: 87%;
    }

}

@media (min-width: 600px) and (max-width: 769px) {
    .comments-subcontainer{
        margin-left: 10%;
        width: 85%;
    }
}


@media (min-width: 770px) and (max-width: 1024px) {
    .comments-container {
        width: 100%;
        min-height: 120vh;
        padding: 2rem 0.8rem 9.5rem 0.8rem;
        margin: 0;
        margin-bottom: -9rem;
    }

    .comments-subcontainer {
        margin-left: 10% !important;
        width: 85%;
        margin:0;
        padding: 0;
    }

    .title-divider {
        margin-bottom: 1rem;
        margin-top: -1rem;
        margin-right: 14%;
    }

    .title-divider2 {
        margin-right: 14%;
    }

    .comments-title {
        font-size: 1.7rem;
    }

    .message-item {
        padding: 3%;
        margin-bottom: 6%;
        margin-right: 11.5%;
    }

    .new-message-form {
        gap: 10px;
        margin: 3% 0 7% 0;
        width: 90%;
    }

    .new-message-input {
        width: 92%;
        padding: 12px;
        font-size: 18px;
    }

    .input-name-container {
        display: grid;
        width: 98%;
    }

    .new-message-input-name {
        width: 94%;
        padding: 12px;
        font-size: 18px;
    }

    .input-error {
        width: 94%;
        padding: 12px;
        font-size: 18px;
    }

    .new-message-button {
        width: 28%;
        font-size: 20px;
        padding: 12px 16px;
        margin-top: 15px;
        box-shadow: 2px 2px 8px #3639969c,
            -2px -2px 8px #8288ff4f;
    }

    .messages-box {
        margin-top: 3rem;
    }

    .message-item {
        font-size: 20px;
    }

    .message-author {
        font-weight: 600;
    }

    .message-content {
        margin-left: 0.3rem;
        font-weight: 400;
    }

    .message-item-date {
        font-size: 14.5px;
    }

    .comment-reactions-delete-container {
        margin-top: 3%;
        padding-top: 3%;
    }

    .comment-reactions-container {
        font-size: 1.5rem;
    }

    .com-reaction-icon-trash {
        font-size: 1.5rem;
    }


    .see-more-button {
        font-size: 1.34rem;
        width: 87%;
    }

}

@media (min-width: 1025px) and (max-width: 1200px) {
    .comments-container {
        width: 100%;
        min-height: 120vh;
        padding: 2rem 0.8rem 9.5rem 0.8rem;
        margin: 0;
        margin-bottom: -9rem;
    }

    .comments-subcontainer {
        margin-left: 20% !important;
        width: 65%;
        margin:0;
        padding: 0;
    }

    .title-divider {
        margin-bottom: 1rem;
        margin-top: -1rem;
        margin-right: 14%;
    }

    .title-divider2 {
        margin-right: 14%;
    }

    .comments-title {
        font-size: 1.7rem;
    }

    .message-item {
        padding: 3%;
        margin-bottom: 3%;
        margin-right: 11.5%;
    }

    .new-message-form {
        gap: 10px;
        margin: 3% 0 5% 0;
        width: 90%;
    }

    .new-message-input {
        width: 92%;
        padding: 12px;
        font-size: 18px;
    }

    .input-name-container {
        display: grid;
        width: 98%;
    }

    .new-message-input-name {
        width: 94%;
        padding: 12px;
        font-size: 18px;
    }

    .input-error {
        width: 94%;
        padding: 12px;
        font-size: 18px;
    }

    .new-message-button {
        width: 28%;
        font-size: 20px;
        padding: 12px 16px;
        margin-top: 15px;
        box-shadow: 2px 2px 8px #3639969c,
            -2px -2px 8px #8288ff4f;
    }

    .messages-box {
        margin-top: 2rem;
    }

    .message-item {
        font-size: 20px;
    }

    .message-author {
        font-weight: 600;
    }

    .message-content {
        margin-left: 0.3rem;
        font-weight: 400;
    }

    .message-item-date {
        font-size: 14.5px;
    }

    .comment-reactions-delete-container {
        margin-top: 3%;
        padding-top: 3%;
    }

    .comment-reactions-container {
        font-size: 1.5rem;
    }

    .com-reaction-icon-trash {
        font-size: 1.5rem;
    }


    .see-more-button {
        font-size: 1.34rem;
        width: 87%;
    }
}

@media (min-width: 1201px) and (max-width: 1500px) {

    .new-message-form {
        gap: 10px;
        margin: 3% 0 5% 0;
        width: 100%;
    }

    .new-message-input {
        width: 92%;
        padding: 12px;
        font-size: 18px;
    }

    .input-name-container {
        display: grid;
        width: 98%;
    }

    .new-message-input-name {
        width: 94%;
        padding: 12px;
        font-size: 18px;
    }

    .input-error {
        width: 94%;
        padding: 12px;
        font-size: 18px;
    }
}