.comments-container{
    background: linear-gradient( 175deg, #b6a59941 0% 20%, #8f7e72c4 90%);
    min-height: 120vh;
    padding: 1rem 0 9.5rem 0; 
    margin: 0 -3rem -9rem -2rem;
}

.comments-subcontainer{
    padding-top: 1.5rem;
    margin-left: 30%;
    margin-right: 30%;
}

.title-divider{
    border: none;
    border-top: 2px solid #5C61FF;
}

.title-divider2{
    border: none;
    border-top: 1px solid #2215363d;
}

.comments-title{
    font-weight: 500;
    font-size: 1.7rem;
    color:#221536;
}






.messages-box {
    list-style: none;
    padding: 0;
    margin: 0 0 3.3% 0;
    max-height: none;
    overflow-y: auto;
}

.message-item {
    padding: 1.5%;
    border-bottom: 1px solid #eee;
    margin-bottom: 2%; 
    border: 1px solid rgba(0, 0, 0, 0.1); 
    background-color: #f7f7fa; 
    border-radius: 8px; 
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.message-item:last-child {
    border-bottom: none;
}


.new-message-form {
    gap: 10px;
    margin: 3% 0 4% 0;
}

.new-message-input {
    flex-grow: 1;
    width: 84%;
    margin-right: 1%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 12px 1px 12px 1px;
    background-color: #f8f8ff; 
    font-size: 19px;
    font-family: "Rajdhani", sans-serif;
    font-optical-sizing: auto;
}

.input-name-container{
    display: flex;
    width: 40%;
    
}

.new-message-input-name {
    flex-grow: 0.44;
    padding: 10px;
    border: 1px solid #ddd;
    margin-bottom: 2%;
    border-radius: 12px 1px 12px 1px;
    font-size: 19px;
    font-family: "Rajdhani", sans-serif;
    font-optical-sizing: auto;
    background-color: #f8f8ff; 
}

.new-message-input-name:focus {
    border: 1px solid #5c61ff4d;
    box-shadow: inset 4px 4px 12px rgba(0, 0, 0, 0.1), inset -4px -4px 12px #ffffff;
    outline: none; 
}

.input-error{
    flex-grow: 0.44;
    padding: 10px;
    border: 1px solid #ff0d0d79;
    box-shadow: 0px 2px 4px rgba(212, 32, 32, 0.233);
    outline: none; 
    margin-bottom: 2%;
    border-radius: 12px 1px 12px 1px;
    background-color: #f8f8ff; 
    font-size: 19px;
    font-family: "Rajdhani", sans-serif;
    font-optical-sizing: auto;
}

.input-error:focus{
    border: 1px solid #5c61ff9a;
}

.input-error::placeholder {
    color: #d64a4a;
    opacity: 1; 
}

.new-message-input:focus {
    border: 1px solid #5c61ff4d;
    box-shadow: inset 4px 4px 12px rgba(0, 0, 0, 0.1), inset -4px -4px 12px #ffffff;

    outline: none; 
}

.new-message-button {
    font-family: "Rajdhani", sans-serif;
    font-optical-sizing: auto;
    width: 12%;
    font-size: 20px;
    padding: 10px 20px;
    color: #fff;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color .3s ease-in-out;
    
    background: linear-gradient(145deg, #6268ff, #5357e6);
    box-shadow:  4px 4px 12px #3639969c,
                 -4px -4px 12px #8288ff4f;
}


.new-message-button:focus {
    box-shadow: 0 0 8px #96FF1F; 
    outline: none; 
}

.new-message-button:hover {
    background: linear-gradient(145deg, #363cec, #5357e6);
}

.new-message-button:active {
    background-color: #1f25da;
}

.messages-box{
    margin-top: 1.2rem;
    color:#221536;
}

.message-item{
    font-family: "Rajdhani", sans-serif;
    font-optical-sizing: auto;
    font-size: 20px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.219);
}

.name-date-container{
    display:flex;
    justify-content: space-between; 
    align-items: baseline;
}

.message-author{
    margin-left: 0.3rem;
    color:#5C61FF;
    font-weight: 500;
}

.message-content{
    margin-left: 0.3rem;
    font-weight: 500;
}

.message-item-date{
    margin-left: 0.3rem;
    font-size: 15px;
    letter-spacing: 1px;
}

.comment-reactions-delete-container {
    margin-top: 2.2%;
    border-top: 1px solid rgba(0, 0, 0, 0.205); 
    padding-top: 1.5%;
    display: flex;
    justify-content: space-between; 
    align-items: baseline;
}

.comment-reactions-container {
    display: flex;
    font-size: 1.5rem;
}


.com-reaction-icon-like {
    
    margin-left: 0.7rem;
    
}

.com-reaction-icon-like:hover {
    color:rgb(77, 98, 216);
    cursor: pointer;
}

.com-reaction-icon-like:active{
    transform: scale(0.95);
}

.com-reaction-icon-like-solid {
    margin-left: 0.7rem;
    color:rgb(77, 98, 216);
}

.com-reaction-icon-like-solid:hover{
    color:rgba(77, 98, 216, 0.726);
    cursor: pointer;
}

.com-reaction-icon-like-solid:active{
    transform: scale(0.95);
}

.com-reaction-icon-heart {
    margin-left: 0.1rem;
}
.com-reaction-icon-heart:hover{
    color:rgb(236, 91, 91);
    cursor: pointer;
}

.com-reaction-icon-heart:active{
    transform: scale(0.95);
}

.com-reaction-icon-heart-solid {
    color:rgb(236, 91, 91);
    margin-left: 0.1rem;
}

.com-reaction-icon-heart-solid:hover{
    color:rgba(236, 91, 91, 0.726);
    cursor: pointer;
}

.com-reaction-icon-heart-solid:active{
    transform: scale(0.95);
}


.com-reaction-icon-dislike {
    margin-left: 0.7rem;
}

.com-reaction-icon-dislike:hover {
    color:rgb(165, 77, 216);
    cursor: pointer;
}

.com-reaction-icon-dislike:active{
    transform: scale(0.95);
}



.com-reaction-icon-dislike-solid {
    margin-left: 0.7rem;
    color:rgb(165, 77, 216);
}

.com-reaction-icon-dislike-solid:hover{
    color:rgba(165, 77, 216, 0.726);
    cursor: pointer;
}

.com-reaction-icon-dislike-solid:active{
    transform: scale(0.95);
}


.com-reaction-icon-trash{
    margin-right: 0.7rem;
    font-size: 1.4rem;
    transition: transform 0.3s ease;
}

.com-reaction-icon-trash:hover{
    cursor: pointer;
    color:rgb(155, 27, 27);
    transform: skew(0deg, 6deg) scale(1.05);
}

.total-comment-reactions{
    margin: 0 .2rem;
    font-size: 70%;
    font-weight: 500;
    color: #221536;
}


.see-more-button {
    background: rgba(255, 255, 255, 0.055);
    border-radius: 8px;
    padding: 5px 8px;
    border: none;
    color: #221536;
    cursor: pointer;
    font-family: "Orbitron", sans-serif;
    letter-spacing: 1px;
    font-size: 1.2rem;
    margin-bottom: 4%;
}

.see-more-button:hover {
    background: rgba(255, 255, 255, 0.185);
    color: #5C61FF;
}



